<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<!--		<class name="hrms.qa.testcases.LoginTest"/>
		<class name="hrms.qa.testcases.DashBoardTest"/> -->
			<!--	<class name="hrms.qa.testcases.HomeTest" />	 -->
			<!-- <class name="hrms.qa.testcases.UserTest" /> -->
			<!-- <class name="hrms.qa.testcases.ProjectAdministrationTest" />-->

			<!--<class name="hrms.qa.testcases.TaskOverSightTest"/> -->
			<!--<class name="hrms.qa.testcases.DepartmentTest" /> -->
			<!--<class name="hrms.qa.testcases.ClientRelationsTest" /> -->
			<!--		<class name="hrms.qa.testcases.VendorAdministrationTest" /> -->
		
	<class name="hrms.qa.testcases.TimeSheetsTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
